
<ul>
  <% @user_products.each do |user_product| %>
    <% if user_product.user != @user %>
      <li><%= link_to user_product.product.name, user_product_path(user_product) %></li>
    <% end %>
  <% end %>
</ul>
