<h3>Product Name: <%= @product.name %></h3><br>
<p>Description: <%= @product.description %></p><br>
<p>Price: <%= @product.price %></p><br>

<%= link_to "Add to Cart", add_path(@product.id), method: :post%>
